In [1]:
""""" write  a program which will accept basic salary of an employee, employee number, emplyee name, designation, basic salary,
calculate the following if the basic salary of an employee is more than or equal to 10000 then , 
given: 
    da=20%of basic salary
    ta=15% of basic salary
    hra=20%of basic salary 
    ma=5%of basic salary
otherwise(basicsal<10000) then give
    da=30%of basic salary
    ta=20% of basic salary
    hra=25%of basic salary 
    ma=10%of basic salary
Calculate Net Salary:
    NetSal=basicsal+da+ta+hra+ma"""""

'"" write  a program which will accept basic salary of an employee, employee number, emplyee name, designation, basic salary,\ncalculate the following if the basic salary of an employee is more than or equal to 10000 then , \ngiven: \n    da=20%of basic salary\n    ta=15% of basic salary\n    hra=20%of basic salary \n    ma=5%of basic salary\notherwise(basicsal<10000) then give\n    da=30%of basic salary\n    ta=20% of basic salary\n    hra=25%of basic salary \n    ma=10%of basic salary\nCalculate Net Salary:\n    NetSal=basicsal+da+ta+hra+ma'

In [2]:
bsal=float(input("enter basic salary of an employee:"))

enter basic salary of an employee:12000

In [5]:
empno=float(input("enter employee number:"))

enter employee number:5642

In [6]:
ename=(input("enter employee name:"))

enter employee name:Saloni

In [8]:
dsg=(input("enter employee designation:"))

enter employee designation:software engineer

In [13]:
if(bsal>=10000):
    da=(20/100) *bsal
    ta=(15/100) *bsal
    hra=(20/100) *bsal
    ma=(5/100) *bsal
else:
    if(bsal<10000):
        da=(30/100) *bsal
        ta=(20/100) *bsal
        hra=(25/100) *bsal
        ma=(10/100) *bsal
netsal=bsal+da+ta+hra+ma

In [15]:
print("the basic salary of an employee bsal {}:".format(bsal))

the basic salary of an employee bsal 12000.0:

In [16]:
print(" the employee number empno {}:".format(empno))

 the employee number empno5642.0:

In [17]:
print("the employee name ename {}".format(ename))

the employee name ename Saloni

In [18]:
print("the employee name dsg {}".format(dsg))

the employee name dsg software engineer

In [19]:
print("the employee details {},{},{},{}".format(da,ta,hra,ma))

the employee details 2400.0,1800.0,2400.0,600.0

In [20]:
print("the net salary of an employee: {}".format(netsal))

the net salary of an employee: 19200.0